{% extends 'base.html' %}
{% block main %}
<!-- Card -->
<div class="d-flex" style="margin-top: 7%">

  <!-- Card image -->
  <div class="col-lg-4 p-4">
    <img class="img-fluid" src="{{ single_service.image }}"
      alt="Card image cap">
  </div>

  <!-- Card content -->
  <div class="col-lg-8 px-2">

    <!-- Title -->
    <h4 class="card-title"><strong>{{ single_service.name }}</strong></h4>
    <!-- Subtitle -->
    <h6 class="font-weight-bold indigo-text py-2">-------------------------</h6>
    <!-- Text -->
    <p class="card-text">{{ single_service.details }}
    </p>

  </div>

</div>
<!-- Card -->
{% endblock %}